
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
}

button {
    background-color: #3383FF;
    width: 25%;
    padding: 15px;
    color: black;
    border: 1px;
    float: center;
    font-size: 15px;
}

label {
    font-size: 20px;
}

form {
    border: 3px solid #f1f1f1;
}

input[type=email],
input[type=password] {
    width: 50%;
    font-size: 15px;
    margin: 8px 0px;
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid rgb(82, 122, 187);
    box-sizing: border-box;
}

button:hover {
    opacity: 0.7;

}

.container {
    padding: 50px;
    background-color: white;
}

.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
}

img.avatar {
    width: 20%;
    border-radius: 50%;
}
